/* Main styles */
.presence_page {
  background-color: #ffffff;
}
.presence_page ActionBar{
    border-bottom-width: 1;
    border-bottom-color: #f2f2f2;
}
.scanner-container {
  padding: 0;
}

.header {
  color: white;
  font-size: 24;
  font-weight: bold;
  text-align: center;
  margin: 20 0;
}

.scanner-frame {
  background-color: transparent;
  margin: 20 0;
  border-radius: 20;
  overflow: hidden;
}

.qrcode-cam {
  border-radius: 20;
}

/* Overlay styles */
.overlay {
  background-color: rgba(255, 255, 255, 0.4);
}

.scan-box {
  width: 300;
  height: 300;
  background-size: cover;
  background-position: center;
  background-image: url("~/assets/frame/qrcode.png");
  border-color: white;
  border-radius: 0;
}

.corner {
  position: absolute;
  width: 30;
  height: 30;
  border-color: #4caf50;
}

.top-left {
  top: 0;
  left: 0;
  border-left-width: 4;
  border-top-width: 4;
  border-right-width: 0;
  border-bottom-width: 0;
}

.top-right {
  top: 0;
  right: 0;
  border-right-width: 4;
  border-top-width: 4;
  border-left-width: 0;
  border-bottom-width: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
  border-left-width: 4;
  border-bottom-width: 4;
  border-right-width: 0;
  border-top-width: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
  border-right-width: 4;
  border-bottom-width: 4;
  border-left-width: 0;
  border-top-width: 0;
}


/* Scan result text */
.scan-result {
  color: rgb(44, 44, 44);
  font-size: 16;
  text-align: center;
  margin: 20;
  padding: 10;
  background-color: rgba(88, 88, 88, 0.1);
  border-radius: 10;
}

/* Action buttons */
.action-btns {
  margin: 20 0;
}

.action-btn {
  margin: 0 20;
  border-radius: 30;
  background-color: rgba(76, 175, 80, 0.2);
  padding: 10;
}
